/*----------------------------------------------------------
Formação Full Stack Javascript - Thiago M. Medeiros
------------------------------------------------------------
Aluno: Inácio Fernandes de Medeiros
----------------------------------------------------------*/
/*----------------------------------------------------------
Módulo 5 - HTML Intermediário
Aula 07 - Desafio
----------------------------------------------------------*/
/*----------------------------------------------------------
Disclaimer:
Tenho consciência que a página ficou muito poluída e com o
uso exagerado e desarmônico de efeitos e cores. Chega a
doer os olhos.
A intenção não era fazer algo agradável esteticamente,
pensei somente em utilizar ao máximo os conceitos
aprendidos nos primeiros módulos do curso.
----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1, h2, h3, h4, p {
    margin-bottom: 15px;
}

.header {
    background-color: gray;
    text-align: center;
    padding: 25px 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    
    border: 3px solid #000000;
    /* box-shadow: 0 0 10px black; */
    margin: 0px 0px 10px 0px;

    /* background: #888888; */
    background: #333333;
    background: linear-gradient(180deg, #888888 25%,#333333 75%);
}

.header h1 {
    font-size: 40px;
    color: #ffff00;
    text-shadow: 0px 0px 5px #000000,
                 0px 0px 5px #000000,
                 0px 0px 5px #000000,
                 0px 0px 5px #000000;
}

.header h2 {
    font-size: 30px;
    color: #333333;
    text-shadow: 0px 0px 5px #bbbbbb,
                 0px 0px 5px #bbbbbb,
                 0px 0px 5px #bbbbbb,
                 0px 0px 5px #bbbbbb;

}

.head-left,
.head-right {
    width: 30%;
}

.head-image {
    border: 2px solid #ffffff;
    border-radius: 5% 5% 50% 50%;
    padding: 2px;
    box-shadow: 0px 0px 10px #000000;
}

.head-center {
    width: 40%;
}

.container {
    display: flex;
}

.navbar {
    width: 20%;
    background: #bbbbbb;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    padding: 30px;

    border: 3px solid #000000;
    /* box-shadow: 0 0 10px black; */
    margin: 10px 10px 10px 0px;
    border-radius: 0px 5px 50px 0px;

    background: #333333;
    background: linear-gradient(180deg, #333333 25%,#888888 75%);
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    /* border-radius: 10px 0px; */
    background-color: #bbbbbb;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;

    border: 2px solid #ffffff;
    /* padding: 2px; */
    box-shadow: 0px 0px 10px #000000;

}
  
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;

    text-shadow: 0px 0px 5px #000000,
                 0px 0px 5px #000000,
                 0px 0px 5px #000000,
                 0px 0px 5px #000000;
}

.nav-left {
    border-radius: 50px 0px 50px 0px;
}

.nav-right {
    border-radius: 0px 50px 0px 50px;
}

.content {
    width: 80%;
    /* background: #d8d8d8; */
    padding: 30px;

    border: 3px solid #000000;
    /* box-shadow: 10px 10px 10px black; */
    margin: 10px 0px 10px 10px;
    border-radius: 50px 0px 50px 5px;

    background: #333333;
    background: linear-gradient(180deg, #d8d8d8 25%,#bababa 75%);
}

.footer {
    background-color: gray;
    text-align: center;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    color: white;


    position: absolute;
    bottom: 0;
    /* left: 0; */
    width: 100%;
    /* margin-top: auto; */



    border: 3px solid #000000;
    /* box-shadow: 0 0 10px black; */
    margin: 10px 0px 0px 0px;

    text-shadow: 0px 0px 5px #000000,
                 0px 0px 5px #000000,
                 0px 0px 5px #000000,
                 0px 0px 5px #000000;

    background: #333333;
    background: linear-gradient(180deg, #888888 25%,#333333 75%);
}

.social-links {
    text-decoration: none;
}

.social-icons {
    width: 30px; 
    margin-left: 25px;
    margin-right: 25px;
}